body {
  max-width: 500px;
  box-sizing: border-box;
  margin: 10% auto;
  padding: 0;
  font-family: monospace, sans-serif;
}

#app {
  width: 100%;

  h1 {
    text-align: center;
  }
}

.completed {
  text-decoration: line-through;
}